<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 타임리프로 css연결하는 코드
  <link th:href="@{/css/example.css}" href="../css/example.css" rel="stylesheet">
  아래는 원본 코드
  <link rel="stylesheet" type="text/css" href="example.css">
-->

  <title>로그인</title>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="inside-container">

          <h1>Sign In</h1>

          <div class="social-links">
            <div >
-->
                <form th:action="@{/login/google}" method="post">
                    <button type="submit">Login with Google</button>
                </form>



                <!-- &lt;!&ndash;
                 * button부분 타임리프써서 연결하였습니다. git에 나오겠지만 혹시나 싶어 원본 button 적어둡니다.
                 * 아래 google 링크를 클릭하기 전에 img가 포함된 button을 누르면 로그인 연동 후에 google.png로 redirect되는 문제 발생...(why??)
                 * 임시로 DenyAll해둠
                 * 원본
                   <button type="button" class="signIn" onClick="location.href='google.html'"><img src="google.png" alt=""
                     height="40" width="40"></button>

                     <img src="google.png" alt="" height="40" width="40">-->

            </div>
            <a th:href="@{/user}"> 로그인한 유저만 사용 가능 </a>


          </div>
          <span>이미 계정이 있으신가요?</span>

      <form th:action="@{/login}" th:object="${loginForm}" method="POST">
        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="field-error" th:each="err : ${#fields.globalErrors()}"
             th:text="${err}">전체 오류 메시지</p>
        </div>
        <input type="text" th:field="*{email}" placeholder="Email" id="email">
        <input type="password" th:field="*{password}" placeholder="Password" id="pw">
        <button class="form_btn" id="login" type="submit">로그인하기</button>
        <button type="button" class="form_btn" th:onclick="|location.href='@{/signUp}'|">회원가입하기</button>

      </form>


    </div>
    </div>
  </div>
 <!--  <script>
    const $email = document.querySelector("#email");
    const $password = document.querySelector("#pw");
    const $loginBtn = document.querySelector("#login");
    const result = document.querySelector("#result");
    let code = "";

    $loginBtn.addEventListener('click', LOGIN)

    //사용자가 입력한 email과 password를 전달하는 LOGIN 함수
    const LOGIN = () => {
      fetch('URL', {
        method: 'post',
        body: JSON.stringify({
          email: $email.value,
          password: $password.value
        })
      })
        .then(res => res.json())

      /* 서버로부터 응답 받아서 
      로그인 성공했으면 정보를 저장하고 화면 전환
      실패했으면 팝업으로 alert 주는 코드인데
      이게.. 내가 짤 필요가 없다는 거지?????

      예....근데 아직 손을 못댔습니ㄷㅏ...
      .then(res => {
          if (res.Token) {
          localStorage.setItem('Token', res.Token);
          this.props.history.push('/');
          location.href = "success.html"
          } else {
              alert('잘못된 email 혹은 pw입니다.')
          }
      })*/

     }


  </script>-->
</body>

</html>