<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 타입리프 추가, lang ="en"에서 "ko"로 변경  -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="example.css">

    <title>로그인 성공</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="inside-container">
                <form>
                    <h1>로그인에 성공하셨습니다</h1>
                </form>
                <!-- 로그인 계정 확인하는 th 추가(테스트용) -->
                <div th:if="${session.user != null}">
                    [[${session.user.email}]], [[${session.user.name}]],
                    <br>
                    <a th:href="@{/user}"> 로그인한 유저만 사용 가능 </a>
                    <br><br>
                    <a th:href="@{/logout}"> logout </a>
                </div>

            </div>
        </div>
    </div>

</body>

</html>